/* campo checkbox */
#centralizar-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

#campo-checkbox{
    width: 50%;
    border: 1px ;
    height: fit-content;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#campo-checkbox h2{
    width: 100%;
    text-align: center;
    font-family: var(--fonteTitulo);
}

.imagem-numero-material{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}

.imagem-numero-material p{
    font-family: var(--fonteTitulo);
    font-size: 1.2rem;
    font-weight: 600;
}

.opcao-material{
    width: 250px;
    height: 250px;
    margin: 10px 20px 10px 20px;
}

#plastico{
    background-image: url(../img_cashback/plastico.jpg);
    background-size: cover;
}

#vidro{
    background-image: url(../img_cashback/vidro.jpg);
    background-size: cover;
}

#cobre{
    background-image: url(../img_cashback/cobre.jpg);
    background-size: cover;
}

#ferro{
    background-image: url(../img_cashback/ferro.jpg);
    background-size: cover;
}

#aluminio{
    background-image: url(../img_cashback/aluminio.jpg);
    background-size: cover;
}

