/* campo checkbox */
#centralizar-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

#campo-checkbox{
    width: 40%;
    border: 1px ;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#campo-checkbox h2{
    width: 100%;
    text-align: center;
    font-family: var(--fonteTitulo);
}

.opcao-material{
    width: 250px;
    height: 250px;
    margin: 10px 20px 10px 20px;
    border: 1px ;
}

.opcao-material{
    display: flex;
    align-items: end;
}

.caixa-imagem {
  width: 400px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.caixa-imagem img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}