*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --fonteTitulo: "Inter", Arial, sans-serif;
    --fonteParagrafos: "Inter", Arial, sans-serif;
    --cor00: #344C27;
    --cor01: #778F43;
    --cor02: rgba(0, 0, 0, 0.5);
}

