

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-family: var(--fonteTitulo);
    color: #fff;
    background-color: var(--cor00);
}

#imagem-inicio{
    width: 470px;
    height: 400px;
    background-image: url(../img_cashback/imagem-inicial.jpg);
    background-size: cover;
    border-radius: 20px 0 20px 20px;
    /* border: 1px solid rgb(0, 0, 0); */
}

#mensagem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 750px;
    padding-block: 25px;
}

#mensagem p{
    margin: 10px 0 0 0;
    font-family: var(--fonteParagrafos);
    font-weight: 550;
    font-size: 1.5rem;
    width: 35%;
    text-align: justify;
}

#mensagem #mensagem-inicial{
    color: var(--cor00);
}

#mostrar-usuarios{
    display: flex;
    flex-direction: column;
    font-family: var(--fonteTitulo);
}

#botao-usuarios, #botao-retornar{
    width: 350px;
    height: 60px;
    display: flex;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--cor00);
    cursor: pointer;
    transition: 0.5s;
}

#botao-usuarios:hover{
    background-color: var(--cor00);
    color: #fff;
}

#botao-retornar:hover{
    background-color: var(--cor00);
    color: #fff;
}

#botao-usuarios p {
    font-family: var(--fonteParagrafos);
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 2px 0;
}

#botao-retornar p {
    font-family: var(--fonteParagrafos);
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 2px 0;
}
